img{
		-webkit-transition: all .2s;
	-moz-transition: all .2s;
	-o-transition: all .2s;
	-ms-transition: all .2s;
	transition: all .2s;
	max-height: 350px;
}

img:hover{
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	opacity: .8;
	-webkit-transition: all .2s;
	-moz-transition: all .2s;
	-o-transition: all .2s;
	-ms-transition: all .2s;
	transition: all .2s;
}
.grid {
	max-width: 1300px;
	margin: 0 auto;
	list-style: none;
	text-align: right;
}

.grid li {
	display: inline-block;
	width: 320px;
	margin: 0;
	padding: 5px;
	text-align: right;
	position: relative;
	float: left;
	height: 100%;
}

.grid figure {
	margin: 0;
	position: relative;
}

.grid figure img {
	max-width: 100%;
	display: block;
	position: relative;
	-webkit-animation: in 2.8s;
  -moz-animation: in 2.8s;
  -o-animation: in 2.8s;
  animation: in 2.8s;
}

.grid2 {

	max-width: 1300px;
	margin: 0 auto;
	list-style: none;
	text-align: right;
}

.grid2 li {
	display: inline-block;
	width: 350px;
	margin: 0;
	float: left;
	text-align: left;
	position: relative;
	height: 100%;
	padding: 5px;
}
.grid2 li img {
	max-height: 350px;
}

.grid2 figure {
	margin: 0;
	position: relative;
}

.grid2 figure img {
	max-width: 100%;
	display: block;
	position: relative;
	-webkit-animation: in 2.8s;
  -moz-animation: in 2.8s;
  -o-animation: in 2.8s;
  animation: in 2.8s;
}

.grid3 {

	max-width: 1300px;
	margin: 0 auto;
	list-style: none;
	text-align: right;
}

.grid3 li {
	display: inline-block;
	width: 230px;
	margin: 0;
	padding: 3px;
	float: left;
	text-align: left;
	position: relative;
}

.grid3 figure {
	margin: 0;
	position: relative;
}

.grid3 figure img {
	max-width: 100%;
	display: block;
	position: relative;
	-webkit-animation: in 2.8s;
  -moz-animation: in 2.8s;
  -o-animation: in 2.8s;
  animation: in 2.8s;
}





/* Individual Caption Styles */




@media screen and (max-width: 800px) {
	.grid {
		padding: 10px 10px 0px 10px;
		float: none;
	}
	.grid li {
		width: 50%;
		min-width: 300px;
		margin: auto;
		float: right;
		display: block;
	}
	.grid2 {
		padding: 10px 10px 0px 10px;
		float: none;
	}
	.grid2 li {
		width: 50%;
		min-width: 300px;
		float: right;
		margin: auto;
		display: block;
	}
	.grid3 {
		padding: 10px 10px 0px 10px;
		float: none;
	}
	.grid3 li {
		width: 50%;
		min-width: 300px;
		float: right;
		margin: auto;
		display: block;
	}
		img{

	max-height: 100%;
}
.grid2 li img {
	max-height: 100%;
}
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px){
	
	.grid {
		padding: 10px 10px 0px 10px;
		float: none;
	}
	.grid li {
		width: 50%;
		min-width: 300px;
		margin: auto;
		float: right;
		display: block;
	}
	.grid2 {
		padding: 10px 10px 0px 10px;
		float: none;
	}
	.grid2 li {
		width: 50%;
		min-width: 300px;
		float: right;
		margin: auto;
		display: block;
	}
	.grid3 {
		padding: 10px 10px 0px 10px;
		float: none;
	}
	.grid3 li {
		width: 50%;
		min-width: 300px;
		float: right;
		margin: auto;
		display: block;
	}
}


@media only screen and (min-device-width : 320px) and (max-device-width : 568px){

		.grid {
		padding: 10px 10px 0px 10px;
		float: none;
	}
	.grid li {
		width: 100%;
		min-width: 300px;
		margin: auto;
		float: right;
		display: block;
	}
	.grid2 {
		padding: 10px 10px 0px 10px;
		float: none;
	}
	.grid2 li {
		width: 100%;
		min-width: 300px;
		float: right;
		margin: auto;
		display: block;
	}
	.grid3 {
		padding: 10px 10px 0px 10px;
		float: none;
	}
	.grid3 li {
		width: 100%;
		min-width: 300px;
		float: right;
		margin: auto;
		display: block;
	}
	img{

	max-height: 100%;
}
.grid2 li img {
	max-height: 100%;
}

}
}